<p-card header="{{ movie.original_title }}" styleClass="card">
  <ng-template pTemplate="header">
    <img [src]="movie.poster_path" />
    <div class="card__buttons-container">
      <button
        title="Add to Favorites"
        (click)="AddIdToList({ id: movie.id, listName: 'favorites' })"
      >
        <span class="material-symbols-outlined"> favorite </span>
      </button>
      <button
        title="Add to Watchlist"
        (click)="AddIdToList({ id: movie.id, listName: 'watchlist' })"
      >
        <span class="material-symbols-outlined"> playlist_add </span>
      </button>
    </div>
  </ng-template>
  <ul class="card__genres-container">
    <li *ngFor="let genre of movie.genres">{{ genre }}</li>
  </ul>
  <ng-template pTemplate="content">
    <ul class="card__characteristics-list">
      <li>
        <h4>Duration</h4>
        <span> {{ movie.duration | formatDuration }}</span>
      </li>
      <li>
        <h4>Rating</h4>
        <span> {{ movie.rating }}</span>
      </li>
      <li>
        <h4>Language</h4>
        <span> {{ movie.original_language }}</span>
      </li>
    </ul>
  </ng-template>
</p-card>
