<div class="card">
  <img [src]="movie.poster_path" class="card__poster-image" />
  <div class="card__content">
    <div class="card__top-container">
      <h2>{{ movie.original_title }}</h2>
      <h4>{{ movie.release_date }}</h4>
      <h4>{{ movie.original_language }}</h4>
      <h4 *ngIf="movie.adult; else notAdult">for Adults</h4>
      <ng-template #notAdult>
        <h4>for Adults and Kids</h4>
      </ng-template>
    </div>
    <div class="card__overview-container">
      <h4>overview:</h4>
      <p>
        {{ movie.overview }}
      </p>
    </div>
    <div class="card__buttons-container">
      <button
        class="card__icon-btn"
        title="add to favorites"
        (click)="addToFavorites(movie.id)"
      >
        <span class="material-symbols-outlined"> favorite </span>
      </button>
      <button
        class="card__icon-btn"
        title="add to watchlist"
        (click)="addToWatchList(movie.id)"
      >
        <span class="material-symbols-outlined"> playlist_add </span>
      </button>
      <button class="card__details-btn">DETAILS</button>
    </div>
  </div>
</div>
