@import "../../styles/shared.scss";

//TODO change styles for card
.card {
  cursor: pointer;
  width: fit-content;
  height: 60vh;
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  padding: 8px 8px 12px 8px;
  row-gap: 8px;
  transition: all 0.5s ease;

  &:hover {
    background-color: $color-1;
    color: white;
    button {
      color: white;
    }
  }

  img {
    width: 100%;
  }

  .card__genres-container {
    padding-top: 8px;
    display: flex;
    column-gap: 4px;
  }
  .card__text-container {
    flex-grow: 1;
    padding-top: 8px;
    p {
      letter-spacing: 1px;
      line-height: 150%;
    }
  }
  ul.card__characteristics-list {
    padding-top: 16px;
    width: 100%;
    li {
      padding-top: 16px;
      display: flex;
      justify-content: space-between;
    }
  }
  .p-card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    .p-card-footer {
      margin-top: auto;
    }
  }
  .card__footer {
    display: flex;
    flex-direction: row-reverse;
    column-gap: 24px;
    padding-right: 8px;
    button.card__details-btn {
      font-size: 14px;
      letter-spacing: 1px;
      font-weight: 600;
      &:hover {
        color: $color-2;
      }
    }
    button {
      span {
        &:hover {
          font-variation-settings: "FILL" 1;
          color: $color-2;
        }
      }
    }
  }
}
