@import "../../styles//shared.scss";

.movies {
  width: 100%;
  padding-top: 1%;
  padding-left: 1vw;
  color: $color-1;
  .movies__list {
    padding: 40px 0 100px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 10%));
    row-gap: 2vh;
    column-gap: 2vw;
  }
}
