/* You can add global styles to this file, and also import other style files */
@import "./app/styles/shared.scss";

body {
  font-family: "Inria Sans", sans-serif;
  width: 90vw;
  margin: 0 auto;
  background-color: $color-1;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

button {
  cursor: pointer;
  background-color: unset;
  border: unset;
  padding: 0;
}

ul,
ol {
  list-style: none;
}
